.block {
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;
    background-color: var(--block-color);
    border-radius: var(--border-radius);
    padding: 20px;
    position: relative;
}

.protocolName {
    font-size: 1.5rem;
    background-image: linear-gradient(90deg, #ffffff, #ff89ab);
    font-weight: 700;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    position: absolute;
    top: 10px;
}

.actionName {
    font-size: 1.5rem;
    color: #ffffff;
}

.actionNameWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.actionInputsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

.actionInputsWrapper > * {
    margin-top: 20px;
}

.actionInputField {
    display: flex;
    align-items: flex-start;
    width: 100%;
}
.actionInputField > * {
    margin-right: 10px;
}
