.blockWrapper {
    padding: 20px;
    margin: 20px; /* Increased from 20px to 40px */
    width: 400px;
    float: left;
    cursor: grab;
    transition: all .2s ease-in-out;
}


.blockWrapper:hover {
    transform: scale(1.05)
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100vw;
    height: 100%;
    gap: 20px;
}

.actionsWrapper {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
    overflow: scroll;
    padding-right: 10px;
    gap: 40px; /* This directly controls the gap between flex items */
}


