html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
 background-color: #070A21;
  color: #eaeaea;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
    float: left;
    list-style: none;
}

ul {
    width: 100%;
    padding: 0;
    height: 100%;
    overflow: scroll;
    display: inline;
    white-space:nowrap;

}
